# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List open source tools for Data Science
- Show examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
- Python
- R
- Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. NumPy
3. Pandas
4. Matplotlib

|Data Science Tools|
|-----|
|Apache Spark|
|Hadoop|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335